<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>New Event</title>
</head>

<body>
  <div>
    <hgroup>
      <h1>Add Event</h1>
    </hgroup>
    <form action="/event" method="post">
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="description" placeholder="Description">
      <input type="datetime-local" name="eventDate" placeholder="Event date">
      <button type="submit">Save</button>
    </form>
  </div>
</body>

</html>