<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Profile</title>
</head>

<body>
  <%- include('header'); -%>
    <div>
      <hgroup>
        <h4>Email: <%= user.email %>
        </h4>
        <h4>Username: <%= user.username %>
            </p>
      </hgroup>
    </div>
</body>

</html>